#cloud-config
package_update: true
package_upgrade: true

packages:
  - nginx

runcmd:
  - systemctl enable nginx
  - systemctl start nginx
  - echo "NGINX installed successfully" > /var/www/html/index.html
